.ocean-setting-drawer-select {
  z-index: 4000 !important;
  padding: 4px;
  border: none !important;
}

.ocean-setting-drawer-select .el-select-dropdown__list {
  padding: 0 !important;
}

.ocean-setting-drawer-select .el-select-dropdown__item {
  display: flex;
  padding: 5px 12px !important;
  height: 32px !important;
  align-items: center;
}

.ocean-nav-info-dropdown.el-dropdown__popper.el-popper {
  border: none !important;
  .el-dropdown-menu {
    padding: 4px !important;
    outline: none;
    list-style-type: none;
    box-shadow:
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    .el-dropdown-menu__item {
      border-radius: var(--el-border-radius-base);
      color: rgba(0, 0, 0, 0.88);
    }
  }
  .el-popper__arrow {
    display: none !important;
  }
}

// 以下为el-menu菜单自定义样式
.ocean-menu-vertical.el-menu,
.ocean-menu-column.el-menu {
  border: none !important;
}
.ocean-menu-horizontal.el-menu {
  height: 100%;
}

.el-menu--vertical .ocean-menu-item.el-menu-item,
.el-menu--horizontal .ocean-menu-item.el-menu-item {
  list-style-position: inside;
  list-style-type: disc;
  overflow: hidden;
  text-overflow: ellipsis;
  // margin-inline: 4px;
  margin-block: 4px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
}

.el-menu--vertical .ocean-menu-item.el-menu-item:hover {
  background-color: #f0f0f0 !important;
}

.el-menu--vertical .ocean-sub-menu.el-sub-menu .el-sub-menu__title:hover {
  background-color: #f0f0f0 !important;
  color: rgba(0, 0, 0, 0.88) !important;
}

.el-menu--vertical .ocean-sub-menu.el-sub-menu,
.el-menu--horizontal .ocean-sub-menu.el-sub-menu {
  padding-bottom: 0.02px;
  border-radius: 4px;
  // margin-inline: 4px;
  margin-block: 4px;
  .el-sub-menu__title {
    list-style-position: inside;
    list-style-type: disc;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    span {
      margin-inline-start: 10px;
    }
  }
}

.el-menu--vertical .ocean-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color);
}

.el-menu--vertical .ocean-menu-item.el-menu-item.is-active:hover {
  background-color: var(--el-menu-hover-bg-color) !important;
}

.el-menu--vertical .ocean-menu-item .el-tooltip__trigger,
.el-menu--vertical .ocean-sub-menu .el-tooltip__trigger {
  padding-inline: calc(50% - 8px) !important;
  inset-inline-start: 0 !important;
  text-overflow: clip !important;
}

.ocean-menu-item span {
  margin-inline-start: 10px;
}

.ocean-menu-horizontal.el-menu > .el-menu-item,
.ocean-menu-horizontal.el-menu > .el-sub-menu {
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0;
  border-radius: 0;
}

.ocean-menu-horizontal.el-menu > .el-sub-menu {
  padding: 0;
  margin-block: 0;
  .el-sub-menu__title {
    border-radius: 0;
  }
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item,
.ocean-menu-horizontal .ocean-sub-menu.el-sub-menu {
  position: relative;
  vertical-align: bottom;
  transition:
    border-color 0.3s,
    background 0.3s;
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item:hover {
  background-color: transparent !important;
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item::after,
.ocean-menu-horizontal .ocean-sub-menu.el-sub-menu::after {
  position: absolute;
  inset-inline: 20px;
  bottom: 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: "";
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item:hover::after {
  border-bottom-width: 2px;
  border-bottom-color: var(--el-color-primary);
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item,
.ocean-menu-horizontal .ocean-menu-item.el-menu-item.is-active {
  border: none !important;
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item.is-active {
  background-color: transparent !important;
}

.ocean-menu-horizontal .ocean-sub-menu.el-sub-menu {
  .el-sub-menu__icon-arrow {
    display: none;
  }
  .el-sub-menu__title {
    padding-right: var(--el-menu-base-level-padding) !important;
  }
  &:hover::after {
    border-bottom-width: 2px;
    border-bottom-color: var(--el-color-primary);
  }
}

.ocean-menu-horizontal .ocean-sub-menu.el-sub-menu,
.ocean-menu-horizontal
  .ocean-sub-menu.el-sub-menu.is-active
  .el-sub-menu__title {
  border: none !important;
}

.ocean-menu-horizontal .ocean-menu-item.el-menu-item.is-active::after,
.ocean-menu-horizontal .ocean-sub-menu.el-sub-menu.is-active::after {
  border-bottom-color: var(--el-color-primary);
}

.el-menu--horizontal .el-menu--popup .ocean-menu-item.el-menu-item,
.el-menu--horizontal .el-menu--popup .ocean-sub-menu.el-sub-menu,
.el-menu--vertical .el-menu--popup .ocean-menu-item.el-menu-item,
.el-menu--vertical .el-menu--popup .ocean-sub-menu.el-sub-menu {
  margin-inline: 4px;
  margin-block: 4px;
}

.el-menu--horizontal .el-menu--popup {
  min-width: 160px !important;
  border-radius: 6px !important;
  .ocean-menu-item.el-menu-item:hover {
    background-color: #f0f0f0 !important;
    color: rgba(0, 0, 0, 0.88);
  }

  .ocean-sub-menu.el-sub-menu .el-sub-menu__title:hover {
    background-color: #f0f0f0 !important;
    color: rgba(0, 0, 0, 0.88) !important;
  }

  .ocean-menu-item.is-active {
    background-color: var(--el-menu-hover-bg-color);
  }

  .ocean-menu-item.el-menu-item.is-active:hover {
    background-color: var(--el-menu-hover-bg-color) !important;
    color: var(--el-color-primary);
  }
}
.el-menu--vertical .el-menu--popup {
  min-width: 160px !important;
  border-radius: 6px !important;
  .ocean-sub-menu .el-tooltip__trigger {
    padding-inline: var(--el-menu-base-level-padding) !important;
  }
}

.ocean-sub-menu-popper {
  background: transparent !important;
  border: none !important;
  border-radius: 6px !important;
}

.ocean-menu-column.el-menu--vertical .ocean-menu-item.el-menu-item {
  color: rgba(255, 255, 255, 0.65);
  transition: color 0.3s;
  &.is-active {
    background-color: var(--el-color-primary) !important;
    color: #fff;
    &:hover {
      background-color: var(--el-color-primary) !important;
      color: #fff;
    }
  }
}

.ocean-menu-column.el-menu--vertical .ocean-menu-item.el-menu-item:hover {
  background-color: transparent !important;
  color: #fff;
}
