$ocean-sidebar-width: 192px; // 导航栏宽度
$ocean-columnbar-width: 170px; // 导航栏宽度
$ocean-sidebar-retractWidth: 48px; // 导航栏收起宽度
$ocean-header-height: 48px; // 导航栏高度
$ocean-tabs-height: 28px; // tabs高度
$ocean-maxWidth1500: 1500px; // 最大宽度
$ocean-maxWidth1200: 1200px; // 最大宽度
